<BOUCLE_doc (DOCUMENTS) {id_document} {tout}>
[<!--(#REM)

	Modele pour <doc> en dl/dt/dd
	cf. http://pompage.net/pompe/listesdefinitions/

	La largeur de la legende est egale a la largeur de l'image
	avec un minimum de 120px, et un maximum de 350px.

	Dans le cas d'une simple image (mode=image), on affiche
	le document lui-meme, sans lien de telechargement
-->]
[(#ENV{mode_force,#MODE}|=={image}|oui)
	[(#REM) #SET{fichier,#URL_DOCUMENT} ]
	#SET{width,#LARGEUR}
	#SET{height,#HAUTEUR}
	#SET{url,#ENV{lien}}
]
[(#ENV{mode_force,#MODE}|=={image}|non)
	[(#REM) [(#SET{fichier,[(#LOGO_DOCUMENT|extraire_attribut{src})]})] ]
	[(#SET{width,[(#LOGO_DOCUMENT|extraire_attribut{width})]})]
	[(#SET{height,[(#LOGO_DOCUMENT|extraire_attribut{height})]})]
	#SET{url,#ENV{lien,#URL_DOCUMENT}}
][<!--(#REM)


	Si largeur ou hauteur fournit en parametre, redimensionner

-->][
(#ENV{largeur,0}|ou{#ENV{hauteur,0}})
	[(#REM) #SET{fichier,#GET{fichier}|image_reduire{#ENV{largeur,0},#ENV{hauteur,0}}} ]
	#SET{width,#GET{fichier}|largeur}
	#SET{height,#GET{fichier}|hauteur}
	#SET{fichier,#GET{fichier}|extraire_attribut{src}}
]

[(#SET{title,[(#TYPE_DOCUMENT) - [(#TAILLE|taille_en_octets)]]})]
[(#MEDIA|=={image}|oui) #SET{title,#TITRE|sinon{#GET{title}}]
<dl class='spip_document_#ID_DOCUMENT spip_documents[ spip_documents_(#ENV{align})][ (#ENV{class})] spip_lien_ok'[
	style='float:(#ENV{align}|match{left|right});']>
<dt>[<a href="(#GET{url})"[
	class="(#ENV{lien_class})"] title='[(#GET{title}|attribut_html)]'[
	(#ENV{lien}|?{'',type="#MIME_TYPE"})]>]
	[(#ENV{largeur,0}|ou{#ENV{hauteur,0}}|?{
		[(#ENV{mode_force,#MODE}|=={image}|?{
			[(#VAL{<img src='[(#URL_DOCUMENT|image_reduire{#ENV{largeur,0},#ENV{hauteur,0}}|extraire_attribut{src})]'[ width="(#GET{width})"][ height="(#GET{height})"] alt="#TYPE_DOCUMENT - [(#TAILLE|taille_en_octets|texte_backend)]" />}|image_responsive{0/300/400/650/1100,0,0,(max-width:320px)/(max-width:736px)/(max-width:1280px)/})]
		,
			[(#VAL{<img src='[(#LOGO_DOCUMENT|image_reduire{#ENV{largeur,0},#ENV{hauteur,0}}|extraire_attribut{src})]'[ width="(#GET{width})"][ height="(#GET{height})"] alt="#TYPE_DOCUMENT - [(#TAILLE|taille_en_octets|texte_backend)]" />}|image_responsive{0/300/400/650/1100,0,0,(max-width:320px)/(max-width:736px)/(max-width:1280px)/})]
		})]
	,
		[(#ENV{mode_force,#MODE}|=={image}|?{
			[(#VAL{<img src='#URL_DOCUMENT'[ width="(#GET{width})"][ height="(#GET{height})"] alt="#TYPE_DOCUMENT - [(#TAILLE|taille_en_octets|texte_backend)]" />}|image_responsive{0/300/400/650/1100,0,0,(max-width:320px)/(max-width:736px)/(max-width:1280px)/})]
		,
			[(#VAL{<img src='[(#LOGO_DOCUMENT|extraire_attribut{src})]'[ width="(#GET{width})"][ height="(#GET{height})"] alt="#TYPE_DOCUMENT - [(#TAILLE|taille_en_octets|texte_backend)]" />}|image_responsive{0/300/400/650/1100,0,0,(max-width:320px)/(max-width:736px)/(max-width:1280px)/})]
		})]
	})]
	[(#GET{url}|?{</a>})]</dt>[
<dt class='#EDIT{titre} spip_doc_titre'[ style='width:(#GET{width}|min{350}|max{120})px;']><strong>(#TITRE)</strong></dt>][
<dd class='#EDIT{descriptif} spip_doc_descriptif'[ style='width:(#GET{width}|min{350}|max{120})px;']>(#DESCRIPTIF|PtoBR)[(#NOTES|PtoBR)]</dd>]
</dl>

</BOUCLE_doc>
#FILTRE{trim}