<BOUCLE_principale(AUTEURS) {id_auteur}>
<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	<div class="content" id="content">
		<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> &gt; <:info_auteurs:>[ &gt; <strong class="on">(#NOM|couper{80})</strong>]</p>

		<div class="vcard">[(#REM) microformat vcard]
		<div class="cartouche">
			[(#LOGO_AUTEUR|image_reduire{40,*})]
			<h1 class="#EDIT{qui} fn">#NOM</h1>
		</div>

		[<div class="#EDIT{bio} texte note">(#BIO)</div>]
		[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="url org spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
		</div>[(#REM) / vcard]

		[(#REM) Articles de l'auteur ]
		<B_articles>
		<div class="menu">
			#ANCRE_PAGINATION
			<h2><:articles_auteur:> (#GRAND_TOTAL)</h2>
			<ul class="spip">
				<BOUCLE_articles(ARTICLES) {id_auteur} {!par popularite} {pagination 10}>
				<li><a href="#URL_ARTICLE">#TITRE</a></li>
				</BOUCLE_articles>
			</ul>
			[<p class="pagination">(#PAGINATION)</p>]
		</div>
		</B_articles>

		#FORMULAIRE_ECRIRE_AUTEUR

		[<div class="notes"><hr />(#NOTES)</div>]

	</div><!--.content-->
	
<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />
</BOUCLE_principale>