<BOUCLE_principale(BREVES) {id_breve}>
<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	<p class="arbo"><a href="#URL_SITE_SPIP/" ><:accueil_site:></a><BOUCLE_ariane(RUBRIQUES){id_rubrique}> &gt; <a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></BOUCLE_ariane>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</p>

	<div class="cartouche">
		<h1 class="#EDIT{titre}">[(#LOGO_BREVE_RUBRIQUE|image_reduire{40,*}) ]#TITRE</h1>
		<p class="info-publi"><abbr class="published" title="[(#DATE|date_iso)]">[(#DATE|nom_jour) ][(#DATE|affdate)]</abbr></p>
	</div>
	
	[<div class="#EDIT{texte} texte">(#TEXTE)</div>]
	[<hr /><p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
	[<div class="notes"><hr />(#NOTES)</div>]
	
	[(#REM) Forum de la breve
	NB : pour desactiver les forums de breve, supprimez simplement les lignes ci-dessous ]
	<INCLURE{fond=inclure/forum, id_breve} />
	[<h2><:forum:form_pet_message_commentaire:></h2>
	(#FORMULAIRE_FORUM)]
	
<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />
</BOUCLE_principale>
