<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> &gt; <strong class="on"><:plan_site:></strong></p>

	<div class="cartouche">
		<h1><:plan_site:></h1>
	</div>
	
	#MODELE{plan}
	
<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />