<BOUCLE_principale(RUBRIQUES) {id_rubrique}>
<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />
		
	[(#REM) Contenu principal : contenu de la rubrique ]

	<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><BOUCLE_ariane(HIERARCHIE){id_rubrique}> &gt; <a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></BOUCLE_ariane>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</p><!--.arbo-->

	<div class="cartouche">
		<h1 class="#EDIT{titre} surlignable">[(#LOGO_RUBRIQUE|image_reduire{40,*}) ]#TITRE</h1>
	</div>

	[<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{500,*})</div>]

	[(#REM) Articles de la rubrique ]
	<B_articles>
	<div class="menu menu_articles">
		#ANCRE_PAGINATION
		<ul>
			<BOUCLE_articles(ARTICLES) {id_rubrique} {par num titre, titre} {pagination}>
			<li>
				<strong><a href="#URL_ARTICLE">[(#LOGO_ARTICLE_RUBRIQUE|image_reduire{40,*}) ]#TITRE</a></strong>
				[<div class="complement">(#INTRODUCTION{200})</div>]
			</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_articles>

	[(#REM) Si aucun article, affiche un plan de la rubrique ]
	<B_sous_rubriques>
	<div class="menu menu_rubriques">
		<h2><:sous_rubriques:></h2>
		<ul class="spip">
			<BOUCLE_sous_rubriques(RUBRIQUES) {id_parent} {par num titre}{!par date}>
			<li>
				<a href="#URL_RUBRIQUE">#TITRE</a>

				[(#REM) Une boucle recursive pour le mini plan]
				<B_miniplan>
				<ul>
					<BOUCLE_miniplan(RUBRIQUES) {id_parent} {par num titre}{!par date}>
					<li>
						<a href="#URL_RUBRIQUE">#TITRE</a>
						<BOUCLE_m2(BOUCLE_miniplan)></BOUCLE_m2>
					</li>
					</BOUCLE_miniplan>
				</ul>
				</B_miniplan>

			</li>
			</BOUCLE_sous_rubriques>
		</ul>
		</div>
	</B_sous_rubriques>

	<//B_articles>[(#REM) supprimer pour toujours avoir le miniplan]


	[(#REM) Documents joints a la rubrique ]
	<B_documents_joints>
	<div class="menu" id="documents_joints">
		<h2><:medias:titre_documents_joints:></h2>
		<ul class="spip">
			<BOUCLE_documents_joints(DOCUMENTS) {id_rubrique} {mode=document} {par num titre, date} {doublons}>
			<li>
				<a href="#URL_DOCUMENT" type="#MIME_TYPE" class="spip_doc[ (#EXTENSION|attribut_html)]"><strong class="#EDIT{titre} titre">[(#TITRE|sinon{[(#FICHIER|basename|couper{80})]})]</strong>
				<small class="info_document">([<abbr title="<:info_document:> #TYPE_DOCUMENT" class="ext">(#EXTENSION|strtoupper)</abbr> - ][<span>(#TAILLE|taille_en_octets)</span>])</small></a>
				[<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]
			</li>
			</BOUCLE_documents_joints>
		</ul>
	</div><!--#documents_joints-->
	</B_documents_joints>

	[<div class="notes"><hr />(#NOTES)</div>]

<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />
</BOUCLE_principale>
