<div class="formulaire_spip formulaire_configurer formulaire_#FORM">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]


	<form method="post" action="#ENV{action}"><div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<ul>
			<li class="fieldset">
				<fieldset>
					<legend>Paramétrages des articles/rubriques</legend>
					<ul>
						<li class="editer obligatoire [ (#ENV**{erreurs}|table_valeur{hyperspace_rubrique_principale}|oui)erreur]">
							<label for="hyperspace_rubrique_principale">Rubrique principale</label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{hyperspace_rubrique_principale})</span>]
							<input type="text" name="hyperspace_rubrique_principale" class="text" value="#ENV**{hyperspace_rubrique_principale,1}" id="hyperspace_rubrique_principale" />
						</li>						

						<li class="editer obligatoire [ (#ENV**{erreurs}|table_valeur{hyperspace_article_intro}|oui)erreur]">
							<label for="hyperspace_article_intro">Article d'introduction (premier article de la rubrique principale)</label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{hyperspace_article_intro})</span>]
							<input type="text" name="hyperspace_article_intro" class="text" value="#ENV**{hyperspace_article_intro,1}" id="hyperspace_article_intro" />
						</li>

						<li class="editer [ (#ENV**{erreurs}|table_valeur{hyperspace_rubrique_a}|oui)erreur]">
							<label for="hyperspace_rubrique_a">Rubrique A (ex : actualités)</label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{hyperspace_rubrique_a})</span>]
							<input type="text" name="hyperspace_rubrique_a" class="text" value="#ENV**{hyperspace_rubrique_a,2}" id="hyperspace_rubrique_a" />
						</li>

						<li class="editer [ (#ENV**{erreurs}|table_valeur{hyperspace_rubrique_b}|oui)erreur]">
							<label for="hyperspace_rubrique_b">Rubrique  B (ex : entrainements)</label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{hyperspace_rubrique_b})</span>]
							<input type="text" name="hyperspace_rubrique_b" class="text" value="#ENV**{hyperspace_rubrique_b,3}" id="hyperspace_rubrique_b" />
						</li>

						<li class="editer [ (#ENV**{erreurs}|table_valeur{hyperspace_rubrique_c}|oui)erreur]">
							<label for="hyperspace_rubrique_c">Rubrique  C (ex : partenaires)</label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{hyperspace_rubrique_c})</span>]
							<input type="text" name="hyperspace_rubrique_c" class="text" value="#ENV**{hyperspace_rubrique_c,4}" id="hyperspace_rubrique_c" />
						</li>
						
					</ul>
				</fieldset>
			</li>

		</ul>
		<p class="boutons">
			<input type="submit" name="valider" class="submit" value="<:bouton_valider:>" />
		</p>

	</div></form>
</div>
